.button {
  background-color: #41b6e6;
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .button-icon {
  margin-right: 4px;
}

.text {
  background: transparent;
  color: #41b6e6;
  font-size: 14px;
}