.form-wrapper {
    max-width: 500px;
    margin: 20px auto;
}

.form {
    display: flex;
    justify-content: center;
}

.delete-icon {
    position: absolute;
    top: 45px;
    right: -20px;
}

.item-row {
    position: relative;
    display: flex;
    justify-content: center;
}

.item-row div:nth-of-type(1) {flex-grow: 3;}
.item-row div:nth-of-type(2) {flex-grow: 1;}

.add-another-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.submit-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 40px;
}